<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AutenticacaoServlet</servlet-name>
        <servlet-class>servlet.AutenticacaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormCadastrarFuncionarioServlet</servlet-name>
        <servlet-class>servlet.FormCadastrarFuncionarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeAdministrador</servlet-name>
        <servlet-class>servlet.HomeAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrataFuncionario</servlet-name>
        <servlet-class>servlet.TrataFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeGerenteDeAgencia</servlet-name>
        <servlet-class>servlet.HomeGerenteDeAgencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeCliente</servlet-name>
        <servlet-class>servlet.HomeCliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FormCadastrarFuncionarioServlet</servlet-name>
        <url-pattern>/FormCadastrarFuncionarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutenticacaoServlet</servlet-name>
        <url-pattern>/AutenticacaoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeAdministrador</servlet-name>
        <url-pattern>/HomeAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrataFuncionario</servlet-name>
        <url-pattern>/TrataFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeGerenteDeAgencia</servlet-name>
        <url-pattern>/HomeGerenteDeAgencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeCliente</servlet-name>
        <url-pattern>/HomeCliente</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HomeGerenteGeral</servlet-name>
        <servlet-class>servlet.HomeGerenteGeral</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeGerenteGeral</servlet-name>
        <url-pattern>/HomeGerenteGeral</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
